:root{
  /* Pallets*/
    --primary: #c57d94;
    --secondary:yellow;
    --light: #f28b3c;
    --accent:#60a054;
    --fondo: rgb(250, 96, 201) ;

  /* Font Size */
  --text-xxl: 4.8em;
  --text-xl: 3.6em;
  --text-lg: 3.2em;
  --text-md: 2.2em;
  --text-sm: 1.6em;
  --text-xs: 1.2em;

  /* Spacing */
  --sp-xxl: 12rem;
  --sp-xl: 8rem;
  --sp-lg: 5rem;
  --sp-md: 3.2rem;
  --sp-sm: 1.6rem;
  --sp-xs: 0.8rem;

  
}

/* Normalize*/

* { margin:0 ;
    box-sizing: border-box ; 
}

html: {
  font-size: 62.5% ;
}

body {
  font-family: 'Poppins', sans-serif ;
  font-size: var (--text-sm) ;
  background-color: var(--fondo);
}

h1, h2 {
  font-weight: bold ;
  text-align: center;
  color:rgb(103, 242, 52) ; 
}

h3 { 
  text-align: center;
  color:rgb(103, 242, 52);
}

h4{
  text-align: center;
  background-color: rgb(103, 242, 52);
}

/* HEADER */

header { 
  height: 75px;
  width: 100%;
  background-color: var(--secondary) ;
 
}

@media only screen and (max-width: 780px) 
  .navbar a{ 

 }

.navbar {
  height: 75px;
  width: 100%;
  display: flex ;
  color: black;

}

.navbar a{  
  line-height: 50px;
  font-size: var(--text-sm) ;
  text-decoration: none ;
  color: black ;
}

@media only screen and (max-width: 780px) {
  .navbar a{  
    font-size: 50%;}

}

.navbar .navbar__logo {
  width: 75px;
  height: 60px;
  padding: 5px;
  margin-left: 25px;
  align-items:flex-start;
  justify-content: flex-start;
  animation: appear 1s 1 linear;
}


@keyframes appear {
  0% {
    transform: translate(-500px);
    opacity: 0;
  }
  100% {transform: translate(0,0,0,0);
  }
}
.navbar .menu {
  display: inline-block;
  align-content: flex-center;
  justify-content: flex-center;
}

.menu ul {
  font-size: var(--text-sm) ;
  list-style-type: none ;
  color: var(--accent) ;
  height: 50px;
}

.navbar .menu .menu__item
{
  display: inline-block;
  align-items: center;
  justify-content:center;
  margin-right: 15px; 
}

.navbar .menu .menu__item:hover 
{
  transition: background-color .5s;
  padding: 5px;
  border: 1px solid blue;  
  background-color: var(--fondo) ;
}

/*.navbar .menu .menu__link
{
  color: var(--secondary);
}*/

/* MAIL */

main {
  background-color: var(--fondo) ;
}


.card {
  style: width: 18rem;

}

/* FOOTER */

footer {
  background-color: var(--accent);
  width: 100%;
  height: 100%;
}

.contacto {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: minmax(10px, auto);
  align-items: center;
  justify-content: center;
}

.one {
  grid-column: 1 / 2;
  grid-row: 1;
  background-color: var(--fondo);
}

.two {
  grid-column: 2 / 3;
  grid-row: 1;
  background-color: var(--secondary);
}

.three {
  grid-column: 1 / 2;
  grid-row: 2 ;
  background-color: var(--light);
}

.four {
  grid-column: 2/ 3;
  grid-row: 2;
  background-color: rgb(103, 242, 52);
}

.galeria {
  display: flex;
  flex-direction: row;
  object-fit: cover ;
}

.galeria galeria_item1 {
  width: 25%;
  height: 100%;
  padding: 10px 10px;
}

.galeria galeria_item2 {
  width: 25%;
  height: 100%;
  padding: 10px 10px;
}